// reset
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
// variables
@background-color: #d8d7d7;
@btn-color: #336699;
@listpage-border-color: #727271;
@listpage-border-light: #bcbcba;
@login-blue: #0083bf;
@footer-backround: #000000;
@footer-font-color: #cceeff;
@placeholder-color: #bcbcba;
@pub-and-share-btn-color: #0099cc;
@button-br: 3px;
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: @background-color;
}
a{
	color: @btn-color;
	text-decoration: none;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.hide{
	display: none;
}
.img-res{
	max-width: 100%;
	height: auto;
}
.wrapper {
  padding-right: 80px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto
}
.c-1-2{
	
	min-height: 1px;
}
.social{
	.hide
}
.left {
    align-self: stretch;
}
 
.right {
    align-self: flex-end;
}
nav{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
	    justify-content: center;
	    align-items: center;

	}
	ul.nested{
		li{
			&:first-child{
				margin-right: 16px;
			}
		}
	}
	li.avatar{
		margin-left: 48px;
	}
}
#logo{
	img{
		width: 80px;
	}
}
footer{
	height: 320px;
	background-color: @footer-backround;
	ul.f1{
		margin: 0;
		padding: 50px 0 0;
		li{
			&:first-child{
				margin-right: 35px;	
			}
		}
	}
	ul{
		list-style: none;

		li{
			display: inline-block;
		}
	}
	p{
		color: @footer-font-color;
		span{
			color: #ffffff;
		}
	}

}
.follow-fb-footer{
	li{
		margin: 0;
		padding: 0;
		&:first-child{
			margin-right: 16px;	
		}
	}
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
    margin-top: 30px;
}
.btn-pack{
	margin: 40px 0 30px;
	a{
		border-radius: 5px;
		border-width: 2px;
		font-weight: 700;
	}
}
.text-box{
	.sub{
		margin-top: 20px;
	}
}
.big-t-break.desk{

}
.big-t-break{

}
.br-desk{
	display: none;
}
.button{
	height: 70px;
    border: 1px solid @btn-color;
    padding: 10px;
}
h1.big-title{
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	.text-left;
}
h1.big-title-makelist{
	text-transform: uppercase;
	margin-top: -15px;
	.text-left;
	font-weight: 800;
	span{
		&:first-child{
			font-size: 20px;
		}
	}	
}
.list-pack{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	border-bottom: 1px solid @listpage-border-light;
	border-top: 1px solid @listpage-border-light;
	padding: 20px 0;
	.pp{
		img{
			width: 100px;
		}
	}
	.info{
		width: 80%;
		padding: 0 50px;
		.name{
			font-weight: 700;
			font-size: 20px;
		}
		.lorem{
			font-size: 16px;
			margin-top: 5px;
		}
	}
	.arrow{
		img{
			width: 30px;
		}
	}
}
section.wrapper {
    margin-top: 20px;
}
.sub.text-right,.btn-pack.text-right{
	text-align: left;
}

.plus{
	img{
		width: 80px;
	}
}

// select input sytling. Thanks to stackoverflow
select,.desc{
  background: #ffffff;
  position: relative;
  width: 100%;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  font-family: "Muli";
  box-shadow: 0px 0px 1px 1px #c2c2c2;
  border-color: transparent;
  outline: 0 !important;
  border-radius: @button-br;
  color: #968585;
  cursor: pointer;
}
.desc{
	height: 60px;
}
select {

  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../dist/images/dropdown-arrow.png) 98% center no-repeat #fff;
  // background-size: 7%;
  
}
.select{
	position: relative;
	&:after{
  	content: "";
    position: absolute;
    width: 2px;
    background-color: #c2c2c2;
    height: 100%;
    right: 112px;
  }
}

.msub{
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.prev-list{
	clear: both;
	position: relative;
	margin: 25px 0 35px;
	.button{
		border-radius: @button-br;
	}
}
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

.list_anchor_block{
	color: #000000;
}
// placeholder styling
::-webkit-input-placeholder { color: @placeholder-color; font-family: "Muli"; font-size: 14px; position: relative; top: -8px; }
::-moz-placeholder { color: @placeholder-color; font-family: "Muli"; font-size: 14px; position: relative; top: -8px; } /* firefox 19+ */
:-ms-input-placeholder { color: @placeholder-color; font-family: "Muli"; font-size: 14px; position: relative; top: -8px; } /* ie */
input:-moz-placeholder { color: @placeholder-color; font-family: "Muli"; font-size: 14px; position: relative; top: -8px; }

.input{
		width: 65%;
		
		input{
			width: 100%;
			padding: 18px 6px;
			border-radius: @button-br;
			border-color: transparent;
			color: @placeholder-color;
		}
	}

.clist{
	.list-pack{
		    justify-content: space-around;
	}
}
.l-flex{
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.login{
	h1.big-title{
		font-size: 76px;
	}
}
.fb-login{
	display: flex;
	align-items: center;
	justify-content: center;
	p{
		position: relative;
		padding-left: 10px;
		&:after{
			content: "";
		    position: absolute;
		    left: -3px;
		    background-color: #fff;
		    width: 1px;
		    height: 61%;
		    top: 50%;
		    transform: translateY(-50%);
		}
		span{
			font-weight: 700;
		}
	}
	.text{
		background: #0083bf;
	    height: 48px;
	    margin-left: -3px;
	    margin-top: -2px;
	    line-height: 48px;
	    padding-right: 12px;
	    color: #fff;
	    border-radius: @button-br;
	}
}

.left-carrot{
	font-size: 12px;
}
.button.pNs{
	background-color: @pub-and-share-btn-color;
	color: #ffffff;
	border-color: transparent;
	border-radius: @button-br;
}
.mylist-flex{
	background-color: #b3d0d0;
    padding: 40px;
   
    width: 100%;
    text-align: left;
    p{
    	font-weight: 700;
    }
    li{
    	display: block;
    	&:first-child{
    		margin-right: 40px;
    	}
    	
    }
	.btn-pack{
		margin-top: 40px;
	}
}
// responsive
@media screen and (min-width:800px){
	select,.desc{
		width: 90%;
	}
	.desc{
		height: 70px;
	}
	.wrapper{
		padding-right: 146px;
  		padding-left: 146px;
	}
	.btn-pack {
	    margin-top: -32px;
	}
	section.wrapper{
		margin-top: 80px;
	}
	.c-1-2{
		.float-left;
		width: 50%;
	}
	.c-1-3{
		.float-left;
		width: 33.33%;
	}
	#logo{
		img{
			width: 100px;
		}
	}
	.avatar{
		img{
			width: 50px;
		}
	}
	.fb{
		width: 40px;
	}
	footer{
		height: 167px;
		ul.f1{
			li{
				margin-right: 35px;
			}
		}
	}
	.nav-ul{
		li.hide{
			display: inherit;
		}
	}
	.follow-fb-footer{
		display: none;
	}
	h1.big-title{
		font-size: 90px;
		.text-right;
	}
	h1.big-title-makelist{
		font-size: 40px;
		padding-right: 35px;
		.text-right;
	}
	.list-pack{
		
		padding: 25px 0;
	    li{
	    	padding: 0 10px;
	    }
		.pp{
			img{
				width: 80px;
			}
		}
		.info{
			width: 60%;
			margin-right: 50px;
			.name{
				font-weight: 700;
				font-size: 18px;
			}
			.lorem{
				font-size: 12px;
				margin-top: 5px;
			}
		}
		.arrow{
			img{
				width: 30px;
			}
		}
	}
	.input,.desc-wrap{
		position: relative;
		&:after{
			content: "Optional";
		    position: absolute;
		    right: 10px;
		    bottom: -20px;
		    font-size: 10px;
		    color: #666666;
		    font-weight: 700;
		}
	}
	.desc-wrap{
		
		&:after{
			
		    right: 50px;
		   
		}
	}
	.input{
		width: 80%;
		
		input{
			width: 100%;
			padding: 22px 10px;
			border-radius: @button-br;
			border-color: transparent;
			color: @placeholder-color;
		}
	}
	.sub.msub{
		margin-top: 35px;
	}
	.text-right.mylist,.btn-pack.text-right{
		text-align: right !important;
	}
	.btn-pack.p{
		padding-right: 50px;
	}
	.list-pack .info{
		padding: 0 25px;	
	}
	.mylist-flex{
		text-align: center;
	    li{
	    	display: inline-block;
	    	&:last-child{
	    		margin-left: 5px;
	    	}
	    }
		
	}
}

@media screen and (max-width:800px){
	.col-1-2 {
	  width: 100%;
	}
	.text-box{
		margin-bottom: 15px;
	}
	h1.big-title-makelist{
		margin-top: 0;
		position: absolute;
	    top: 15px;
	    left: 40%;
	    font-size: 20px;
	    br.hiden-on-mob{
	    	display: none;
	    }
	}
	.select:after{
		top: 0;
	}
	.createlist{
		[class*='col-'] {
    
		  	padding-right: 0; 
		}
	}
	.login h1.big-title{
		text-align: right;
	}
	.l-flex{
		flex-direction: column;
	}
	.fb-login{
		margin-left: -33px;
    	margin-top: 12px;
	}
	.mylist-main-container{
		display: flex;
		flex-direction: column-reverse;
	}
	.mylist-flex{
		padding-left: 80px;
	}
	.list-pack .info {
	    padding: 0 20px;
	}

	.select{
		background-size: 10%;
		&:after{
	    right: 60px;
	  }
	}
	h1.big-title-makelist span:first-child {
	    font-size: 12px;
	}

}
@media screen and (max-width: 443px){
	.wrapper {
	padding-right: 15px;
	padding-left: 15px;
	}
	[class*='col-'] {
    
	  	padding-right: 0; 
	}
	.button.pNs{
		padding: 10px 5px;
	}
	h1.big-title-makelist{
		
	    right: 0;
	}
	.mylist-flex {
	    padding-left: 20px;
	}
}